{% set pageName = 'Kentucky Vacation Rental' %}
{% set metaDescription = 'Vacation rental located in the heart of Bourbon Country.' %}
{% set metaKeywords = 'vacation rental, vacation home, louisville, bardstown, kentucky, bourbon, kentucky derby' %}
{% set metaImage = '/images/new-hope-bourbon-stop.jpg' %}
{% set canonical = '/' %}

{% extends '_layouts/default.njk' %}

{% set gallery = [
   {
      src: "outside/house-front",
      alt: "House (front view)"
   },
   {
      src: "outside/porch",
      alt: "Front Porch"
   },
   {
      src: "bar/bourbon-barrel-bar",
      alt: "Bourbon Barrel Bar"
   },
   {
      src: "bar/bar-glassware",
      alt: "Bar Glassware"
   },
   {
      src: "main/living-room-2",
      alt: "Living Room"
   },
   {
      src: "main/kitchen",
      alt: "Kitchen"
   },
   {
      src: "main/refrigerator",
      alt: "Refrigerator"
   },
   {
      src: "outside/fire-pit",
      alt: "Fire Pit"
   }
] %}

{% block main %}
   <section class="hero hero--home">
      <div class="hero__msg">
         <h4>Your Next Bourbon Trail Getaway</h4>
      </div>
   </section>

   <section id="about" class="layout-home-about">
      <article class="container">
         <p>New Hope Bourbon Stop is a vacation rental located in the heart of Bourbon Country. This one-of-a-kind building has been in our family for three generations.</p>

         <p>In the late 1930s our grandparents bought the building and started the New Hope Grocery Store. Later they added the Dance Hall. In those years it was &ldquo;the place to be&rdquo;, and for many years both the store and dance hall thrived. As our grandparents aged, they closed the store and focused on their farmland.</p>

         <p>The year 2014 was a turning point for the old &ldquo;Old Grocery Store&rdquo; as it&rsquo;s called by the locals. That was the year my brother and I inherited the building. We felt passionate about the legacy of our family place and didn&rsquo;t want to just let it go.</p>

         <p>Realizing that New Hope sits in the heart of Bourbon Country and is centrally located to many attractions and sights, we decided to undergo a total renovation. Now we would love to share our family home with YOU! Nelson County is filled with beautiful farmland and landscape. The drive and the sunsets alone are sights to behold.</p>
      </article>

      <aside class="text-center">
         <ul class="social-media-list">
            <li class="social-media-item">
               <a href="https://www.facebook.com/est.2016newhopebourbonstop" target="_blank" class="facebook" title="New Hope Bourbon Stop @ Facebook">
                  <span>Facebook</span>
               </a>
            </li>
            <li class="social-media-item">
               <a href="https://www.vrbo.com/1369879" target="_blank" class="vrbo" title="New Hope Bourbon Stop @ VRBO">
                  <span>VRBO</span>
               </a>
            </li>
            <li class="social-media-item">
               <a href="https://www.airbnb.com/rooms/18112448" target="_blank" class="airbnb" title="New Hope Bourbon Stop @ Airbnb">
                  <span>Airbnb</span>
               </a>
            </li>
         </ul>
      </aside>
   </section>

   <section id="attractions" class="layout-home-attractions">
      <div class="layout-home-attractions__wrapper">
         <div class="container">
            <h2>Points of Interest</h2>

            <ul class="list-star">
               <li>Bardstown, KY in Nelson County is the Bourbon Capital of the World</li>
               <li>Bardstown hosts the annual Kentucky Bourbon Festival in September</li>
               <li>We are minutes away from Log Still, The Amp at Dant Crossing, Makers Mark, Heaven Hill, Willett, and Barton 1792 Distilleries</li>
               <li>Many more local distilleries are under an hour drive</li>
               <li>Bardstown has three golf courses</li>
               <li>My Old Kentucky Dinner Train plus many other great restaurants in the area</li>
               <li>Gethsemani Monastery is five minutes away</li>
            </ul>
         </div>
      </div>
   </section>

   <section id="services" class="layout-home-services">
      <div class="layout-home-services__wrapper">
         <div class="container">
            <h2>Our Services</h2>

            <ul class="list-checked">
               <li>We provide you with a beautiful place with an emphasis on hospitality, comfort, and cleanliness</li>
               <li>Our goal is to give YOU the most carefree vacation as possible</li>
               <li>We offer a beautiful open-concept living room/kitchen with vaulted ceiling</li>
               <li>Three large bedrooms and two full bathrooms</li>
               <li>A Bar with separate ventilation, equipped with essential barware for your perfect cocktail</li>
               <li>Outside you will enjoy the garden area with fire pit, gas grill, outside seating, and an acre of relaxation</li>
            </ul>
         </div>
      </div>
   </section>

   <section id="gallery" class="layout-home-photos">
      <div class="container">

         <h2>Photo Gallery</h2>

         <div class="gallery gallery--expandable">
            <ul class="gallery__track">
               {% for img in gallery %}
                  <li class="gallery__track__item">
                     <a href="/images/gallery-2022/{{ img.src }}.jpg" target="_blank">
                        {% if loop.index > 8 %}
                           <img class="lazyload" data-src="/images/gallery-2022/{{ img.src }}--sm.jpg" alt="{{ img.alt }}">
                           <noscript>
                              <img src="/images/gallery-2022/{{ img.src }}--sm.jpg" alt="{{ img.alt }}">
                           </noscript>
                        {% else %}
                           <img class="lazyload" data-src="/images/gallery-2022/{{ img.src }}--sm.jpg" alt="{{ img.alt }}">
                           <noscript>
                              <img src="/images/gallery-2022/{{ img.src }}--sm.jpg" alt="{{ img.alt }}">
                           </noscript>
                        {% endif %}
                     </a>
                  </li>
               {% endfor %}
            </ul>

            <div class="gallery__lightbox" aria-hidden="true">
               <a href="#" class="gallery__lightbox__close" title="Close">
                  <span>Close</span>
               </a>

               <div class="gallery__lightbox__img__wrapper">
                  <img class="gallery__lightbox__img">
               </div>

               <div class="gallery__lightbox__controls">
                  <a href="#" class="gallery__lightbox__prev" title="Previous">
                     <span>Previous</span>
                  </a>
                  <a href="#" class="gallery__lightbox__next" title="Next">
                     <span>Next</span>
                  </a>
               </div>
            </div>

            <a class="button" href="/photos">
               View More Photos <i class="icon-right-open" aria-hidden="true"></i>
            </a>
         </div>
      </div>
   </section>

   <section id="amenities" class="layout-home-amenities">
      <h3 class="layout-home-amenities__heading">
         Come see all that is Kentucky, the sunsets, the bourbon, the horses, the food, and the history!<br>
         Your time here will be a carefree, memorable experience!
      </h3>

      <div class="container">
         <div class="layout-home-amenities__house">
            <ul class="house-list">
               <li>Accommodates 6</li>
               <li>3 Bedrooms</li>
               <li>2 Bathrooms</li>
               <li>4 Beds</li>
            </ul>
         </div>

         <div class="layout-home-amenities__amenities">
            <ul classs="amenities-list">
               <li>Kitchen</li>
               <li>TV</li>
               <li>Washer / Dryer</li>
               <li>Wireless Internet</li>
               <li>Heating / Air Conditioning</li>
               <li>Shampoo & Essentials</li>
            </ul>
         </div>

         <div class="layout-home-amenities__reviews">
            <a class="button" href="/reviews">
               Check Out our Reviews <i class="icon-right-open" aria-hidden="true"></i>
            </a>
         </div>
      </div>
   </section>
{% endblock %}
