<footer class="footer" role="contentinfo">
   <div class="container">
      <div class="footer__contact">
         <p class="address-block">
            New Hope Bourbon Stop, LLC.<br>
            118 Shirley Ave.<br>
            New Hope, KY 40052
         </p>

         <p class="phone-block">
            502-817-8175
         </p>
      </div>

      <div class="footer__social-media">
         <ul class="social-media-list">
            <li class="social-media-item">
               <a href="https://www.facebook.com/est.2016newhopebourbonstop" target="_blank" class="facebook" title="New Hope Bourbon Stop @ Facebook">
                  <span>Facebook</span>
               </a>
            </li>
            <li class="social-media-item">
               <a href="https://www.vrbo.com/1369879" target="_blank" class="vrbo" title="New Hope Bourbon Stop @ VRBO">
                  <span>VRBO</span>
               </a>
            </li>
            <li class="social-media-item">
               <a href="https://www.airbnb.com/rooms/18112448" target="_blank" class="airbnb" title="New Hope Bourbon Stop @ Airbnb">
                  <span>Airbnb</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</footer>
