{% set nav = [
   {
      "title": "Home",
      "href": "/"
   },
   {
      "title": "About",
      "href": "/#about"
   },
   {
      "title": "Attractions",
      "href": "/#attractions"
   },
   {
      "title": "Services",
      "href": "/#services"
   },
   {
      "title": "Gallery",
      "href": "/photos"
   },
   {
      "title": "Amenities",
      "href": "/#amenities"
   },
   {
      "title": "Contact",
      "href": "/#contact"
   },
   {
      "title": "Reviews",
      "href": "/reviews"
   }
] %}

<header class="header" role="banner">
   <span class="header__phone">
      502-817-8175
   </span>

   <a class="header__call" href="tel:15028178175" title="Call Today (502) 817-8175">
      <span>502-817-8175</span>
   </a>

   <div class="nav-toggle" title="Menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
   </div>

   <nav class="nav" role="navigation">
      <ul class="nav__menu">
         {% for item in nav %}
          <li class="nav__item">
             <a class="nav__link" href="{{ item.href }}">
                {{ item.title }}
             </a>
          </li>
        {% endfor %}
      </ul>
   </nav>

   <div class="logo">
      <h1>
         <a href="/">
            <span>New Hope</span> <span>Bourbon Stop</span>
         </a>
      </h1>
   </div>
</header>
