{% set pageTitle = 'Reviews | New Hope Bourbon Stop' %}
{% set metaDescription = 'Vacation Rentals Near Bardstown Ky 502-817-8175 Near the Kentucky Bourbon Trail Vacation Rental Houses Near the Ky Bourbon Festival Short term Rental Homes Near The Bourbon Trail in Loretto KY New Haven New Hope Bourbon Stop Sharon Bonn' %}
{% set metaImage = '/images/new-hope-bourbon-stop.jpg' %}
{% set canonical = '/reviews' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <section class="hero hero--home">
      <div class="hero__msg">
         <h4>Reviews</h4>
      </div>
   </section>

   <div class="container" style="padding-top: 50px;">
      <article>
         <blockquote class="review">
            <p>We loved our stay at the Bourbon Stop. Took a trip with 6 adults and we all slept comfortably. There is a really cool bar area that we enjoyed our new bourbon in the evenings. Our group thought this was much better than having separate hotel rooms. What a cozy place! My mom kept wondering how she could remodel her house to match this place. Sharon also provided breakfast foods, shampoos and all the necessities.</p>

            <p>You will not be disappointed with this property. I am a picky person but could not find anything out of place, dirty or smelly in this house. It was also amazing to see the re-model pictures and the history of the property. It’s right down the street from “Log still” tasting room which had live music at night. Thank you Sharon!</p>
         </blockquote>
      </article>

      <article>
         <blockquote class="review">
            <p>We had a great stay. It's a very clean cozy home with history. We especially loved the yard, fire pit, and the inside bar. Sharon goes above and beyond with the amenities (top brand shampoo/conditioner, plenty of towels, fully stocked kitchen). She is a fantastic host and even added in some extra's like fresh free roam eggs and a gallon of milk. Great communication and GPS was accurate. There's alot to do within 30 minutes and a new Log distillery closeby that has venues with lots of popular artists. It will have an upcoming farm to table restaurant soon. A few of our favorite attractions were the Abraham Lincoln homestead, The Bardstown Old Tavern, and the Maker's Mark Distillery. We plan on making this an annual retreat and look forward to our next stay. Highly recommend.</p>
         </blockquote>
      </article>

      <article>
         <blockquote class="review">
            <p>We came down to Bardstown for a bourbon weekend with a bit of a company strategy session to make it "work-like." There were 6 of us in the house and the universal consensus was that "Sharon thought of everything!" down to the smallest of details. The house was clean, the beds were comfortable, and the communication was great. Sharon even made sure to ask us what kind of breakfast food did we want, so she made sure there were fresh eggs and bacon in the fridge! The bourbon tastings were fun, but the time spent at Sharon's house made the trip memorable! Thank you, and we can't speak highly enough about you!</p>
         </blockquote>
      </article>

      <article>
         <blockquote class="review">
            <p>This property was perfect for our weekend. Most of our group traveled to New Hope in a 40-ft motorhome. We had more than enough room to park in the driveway. The fire pit was located in between the motor home and the house and was used both nights after returning home after dinners at Bottle and Bond and Makers Mark.</p>

            <p>The kitchen was stocked with breakfast makings that we took advantage of before heading out on BT tours.</p>

            <p>We loved the property and will return!</p>
         </blockquote>
      </article>

      <article>
         <blockquote class="review">
            <p>This was the perfect setup and setting for our Bourbon Trail trip. The owners were amazing to work with and the attention to detail throughout the home was fantastic. From the moment we stepped into the house, we knew we had made a great decision. The central location between Maker’s Mark and Beam was perfect for our plans. The kitchen was very well stocked, and the complimentary breakfast left for us in the fridge was a great touch. Our favorite part was sitting around the firepit in the evenings, tasting some of our latest trophies from the trail, and making some great memories. We will look nowhere else when coming back for our next trip!</p>
         </blockquote>
      </article>

      <article>
         <blockquote class="review">
            <p>This is an absolute great property to stay at when visiting bourbon country. We had planned a trip to Sonoma Valley but the wild fires changed our plans so we booked this at the last minute. Sharon is a great host, knowing that we had to cancel our trip to Sonoma, she had two bottles of California wines in the kitchen along with a variety of breakfast items, granola bars, juice, plenty of fresh fruit; she asked about our preferences so that we wouldn't need to worry about it upon our arrival.</p>

            <p>We visited a few distilleries during the day and come back late afternoon. We had a couple of fires in the evening while playing horse shoes and corn hole games. Friendly area as everyone who drove by would smile and wave. Very comfortable and open floor plan to visit with friends/family. Old beautiful Catholic church in town, again the parishioners were very friendly. We've stayed at several VRBOs across the country and this one is at the top.</p>

            <p>Several distilleries within 30 to 60 minutes. Maker's Mark and Buffalo Trace (90 minutes) were the best tours. Great unique, fun property and a fantastic host in Sharon. Highly recommend.</p>
         </blockquote>
      </article>

      <article>
         <blockquote class="review">
            <p>Best stay I've ever had in a VRBO. Sharon went way above and beyond to please her guest. The only thing we as her guest had to do was show up. All questions were answered promptly, wood for the fire pit, and lots of goodies to nibble on. If ever back in the area, I hope this home is available. Thank you Sharon!</p>
         </blockquote>
      </article>
   </div>

{% endblock %}
